faq.html
<!-- / to convert to html and css run the following: -->
<!-- / haml faq.html.haml faq.html -->
<!-- / sass --update common.css.sass:common.css -->
<!DOCTYPE html>
<html>
  <head>
    <title>Hobnob - Find people and conversations of relevance</title>
    <meta charset='utf-8'>
    <meta content='IE=edge' http-equiv='X-UA-Compatible'>
    <meta content='width=device-width, initial-scale=1' name='viewport'>
    <link href='http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.css' rel='stylesheet'>
    <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' rel='stylesheet'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href='common.css' rel='stylesheet'>
  </head>
  <body>
    <div class='container'>
      <h1>Frequently Asked Questions</h1>
      <h3>Should I use my full name or a nickname when registering?</h3>
      <p>This is completely up to you. We recommend your first name at the least. This will ensure privacy (full name allows you to be searched) and it is much more appealing than a nickname (e.g., Dinero Danny, Sexy Beast, President Obama, etc.).</p>
      <br>
      <h3>How do I upload an avatar (profile picture)?</h3>
      <p>Currently we do not have an upload avatar feature. Instead we utilize Gravatar. Per their website (https://en.gravatar.com/), “Your Gravatar is an image that follows you from site to site appearing beside your name when you do things like comment or post on a blog.”</p>
      <p>Sign-up for a gravatar account using your registered Hobnob email address. Upload your desired avatar (profile picture) and this will be the image other users see in their “My Conversations” inbox.</p>
      <br>
      <h3>How do I select less than 3 specific interests?</h3>
      <p>Currently you cannot select less than 3 specific interests. This is to ensure your “Find Conversations” map is well populated.</p>
      <br>
      <h3>Why do I need to select preset Interests?</h3>
      <p>Your preset interests will serve as a filtering feature. Your “Find Conversations” map will only be populated with conversation pins that meet your selected “Interests.” This will come in handy when you’re in heavy user areas. You can easily add/remove your initially selected interests in the sidebar menu.</p>
      <br>
      <h3>What if I forgot my password?</h3>
      <p>No problem. Simply enter your email address at the login screen and select “Forgot Password?”. A message will appear saying “Password reset email sent to [the corresponding email address].”</p>
      <br>
      <h3>What if I forgot my password and registered email address?</h3>
      <p>Go to the login screen and select register. If you are prevented from registering the desired email address go back to the login screen and enter that email address in the “Email” field. Now select “Forgot Password?” and a message will appear saying “Password reset email sent to [the corresponding email address].” Click the link in the email and reset your password. Done.</p>
      <br>
      <h3>How can I change my password?</h3>
      <p>Once logged in, open the sidebar menu by selecting the menu icon in the top left corner or swiping to the right starting from the left edge of your device’s screen. Once the sidebar menu is opened select “Settings”, then select “Change Password”.</p>
      <br>
      <h3>How can I change My Interests?</h3>
      <p>Once logged in, open the sidebar menu by selecting the menu icon in the top left corner or swiping to the right starting from the left edge of your device’s screen. Once the sidebar menu is opened select “My Interests”, select your desired interests then select “Save Interests”.</p>
      <br>
      <h3>How can I view the Terms of Service Agreement and Privacy Policy after registering?</h3>
      <p>Well, because you have registered you have accepted the Terms of Service Agreement and our Privacy Policy. If you would like to review this please login to your account, open the sidebar menu by selecting the menu icon in the top left corner or swiping to the right starting from the left edge of your device’s screen. Once the sidebar menu is opened select “Settings”, then select “Terms and Privacy.”</p>
      <br>
      <h3>How can I contact the Hobnob developers?</h3>
      <p>We can be contacted via email at info@altruismworldwide.net. By mail at 1832 North Capitol Street NW, Washington, DC 20002.</p>
      <p>If you would like to provide constructive feedback please rate the application in the app store and leave a detailed comment. Or you may take our survey at https://www.surveymonkey.com/s/DQ8GW73. Both options are appreciated!</p>
      <p>All investor pitches, media relations, suggestions, feedback, and support are welcome.</p>
      <br>
      <h3>How do I delete old or unwanted messages?</h3>
      <p>Once logged in, select the message icon in the top right corner, or open the sidebar menu by selecting the menu icon in the top left corner or swiping to the right starting from the left edge of your device’s screen. Once the sidebar menu is opened select “My Conversations”. Scroll to the undesired message thread and swipe to the left starting from the right edge of your device’s screen. The options to “Block User” and “Delete” will appear. Select “Delete” and it will be gone forever.</p>
      <br>
      <h3>How do I block offensive users?</h3>
      <p>Sorry this is an issue you need solved. Once logged in, select the message icon in the top right corner, or open the sidebar menu by selecting the menu icon in the top left corner or swiping to the right starting from the left edge of your device’s screen. Once the sidebar menu is opened select “My Conversations”. Scroll to the undesired message thread and swipe to the left starting from the right edge of your device’s screen. The options to “Block User” and “Delete” will appear. Select “Block User” to be rid of that user for good.</p>
      <br>
      <h3>How do I unblock users that I blocked in the past?</h3>
      <p>Simple fix. Once logged in, open the sidebar menu by selecting the menu icon in the top left corner or swiping to the right starting from the left edge of your device’s screen. Once the sidebar menu is opened select “Settings” then “Blocked Users”. A list of blocked users will appear. Scroll to the desired user and swipe to the left starting from the right edge of your device’s screen. The option to “Unblock User” will appear.</p>
      <br>
      <h3>What if I see no conversation pins on my map?</h3>
      <p>If there are no conversation pins visible on your “Find Conversations” map it may be due to your selected interests. Try adding more interests to your saved “My Interests” and see if that solves the problem. If it does, it means there were no other users currently creating conversation pins that met your specific interests.</p>
      <p>Remember, your selected interests will filter your “Find Conversations” map accordingly.</p>
      <br>
      <h3>Should I create a conversation pin at my personal home address?</h3>
      <p>This is completely at the user’s discretion. We are not liable for users that choose to create conversation pins in locations that increase their chances of harm. E.g., home, dark alleys, dark forests, sketchy places, etc.</p>
      <p>We recommend our users stick to creating conversation pins in well populated areas and remain discrete with their exact location. It would not be wise to enter “Starbucks, by the window, wearing a pink shirt” in the location details of “Create A Conversation.” It is suggested that users do not disclose their exact location until they are ready to meet up with a specific individual they have vetted through a message thread.</p>
      <p>Expand your network, safely.</p>
      <br>
      <h3>What is my influencer score?</h3>
      <p>The influencer score reflects the number of other users that found you to be a pleasure to chat with. The higher the influencer score, the more relevant to topic, enjoyable, or resourceful the individual is.</p>
      <p>We encourage users to fairly rate each individual after meeting up and conversing. This will serve as a community vetting system and save other users from those who use Hobnob irresponsibly.</p>
      <br>
      <h3>Will my conversation pin delete on its own?</h3>
      <p>Yes, it will self-destruct when the designated end time is reached. Users can also delete their own conversation pin (blue pin) by selecting it, then selecting “Delete Event.”</p>
      <br>
      <h3>How do I delete my account?</h3>
      <p>There is no account deletion option. Simply uninstall the app or stop using the registered email address to login.</p>
    </div>
    <div id='footer'>
      <div class='container'>
        <div class='col-md-6 left-align'>
          <h5>All Rights Reserved, Hobnob</h5>
        </div>
        <div class='col-md-6 right-align'>
          <a href='faq.html'>
            <h5>FAQ</h5>
          </a>
        </div>
      </div>
    </div>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js'></script>
    <!-- / %script{:src => "scripts.js"} -->
  </body>
</html>

faq.html.haml
// to convert to html and css run the following:
// haml faq.html.haml faq.html
// sass --update common.css.sass:common.css

!!!
%html
  %head
    %title Hobnob - Find people and conversations of relevance
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %link{:href => "http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.css", :rel => "stylesheet"}/
    %link{:href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css", :rel => "stylesheet"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:400,700", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "common.css", :rel => "stylesheet"}/
  %body

    .container

      %h1 Frequently Asked Questions

      %h3 Should I use my full name or a nickname when registering?
      %p This is completely up to you. We recommend your first name at the least. This will ensure privacy (full name allows you to be searched) and it is much more appealing than a nickname (e.g., Dinero Danny, Sexy Beast, President Obama, etc.).

      %br

      %h3 How do I upload an avatar (profile picture)?
      %p Currently we do not have an upload avatar feature. Instead we utilize Gravatar. Per their website (https://en.gravatar.com/), “Your Gravatar is an image that follows you from site to site appearing beside your name when you do things like comment or post on a blog.”
      %p Sign-up for a gravatar account using your registered Hobnob email address. Upload your desired avatar (profile picture) and this will be the image other users see in their “My Conversations” inbox.

      %br

      %h3 How do I select less than 3 specific interests?
      %p Currently you cannot select less than 3 specific interests. This is to ensure your “Find Conversations” map is well populated.

      %br

      %h3 Why do I need to select preset Interests?
      %p Your preset interests will serve as a filtering feature. Your “Find Conversations” map will only be populated with conversation pins that meet your selected “Interests.” This will come in handy when you’re in heavy user areas. You can easily add/remove your initially selected interests in the sidebar menu.

      %br

      %h3 What if I forgot my password?
      %p No problem. Simply enter your email address at the login screen and select “Forgot Password?”. A message will appear saying “Password reset email sent to [the corresponding email address].”

      %br

      %h3 What if I forgot my password and registered email address?
      %p Go to the login screen and select register. If you are prevented from registering the desired email address go back to the login screen and enter that email address in the “Email” field. Now select “Forgot Password?” and a message will appear saying “Password reset email sent to [the corresponding email address].” Click the link in the email and reset your password. Done.

      %br

      %h3 How can I change my password?
      %p Once logged in, open the sidebar menu by selecting the menu icon in the top left corner or swiping to the right starting from the left edge of your device’s screen. Once the sidebar menu is opened select “Settings”, then select “Change Password”.

      %br

      %h3 How can I change My Interests?
      %p Once logged in, open the sidebar menu by selecting the menu icon in the top left corner or swiping to the right starting from the left edge of your device’s screen. Once the sidebar menu is opened select “My Interests”, select your desired interests then select “Save Interests”.

      %br

      %h3 How can I view the Terms of Service Agreement and Privacy Policy after registering?
      %p Well, because you have registered you have accepted the Terms of Service Agreement and our Privacy Policy. If you would like to review this please login to your account, open the sidebar menu by selecting the menu icon in the top left corner or swiping to the right starting from the left edge of your device’s screen. Once the sidebar menu is opened select “Settings”, then select “Terms and Privacy.”

      %br

      %h3 How can I contact the Hobnob developers?
      %p We can be contacted via email at info@altruismworldwide.net. By mail at 1832 North Capitol Street NW, Washington, DC 20002.
      %p If you would like to provide constructive feedback please rate the application in the app store and leave a detailed comment. Or you may take our survey at https://www.surveymonkey.com/s/DQ8GW73. Both options are appreciated!
      %p All investor pitches, media relations, suggestions, feedback, and support are welcome.

      %br

      %h3 How do I delete old or unwanted messages?
      %p Once logged in, select the message icon in the top right corner, or open the sidebar menu by selecting the menu icon in the top left corner or swiping to the right starting from the left edge of your device’s screen. Once the sidebar menu is opened select “My Conversations”. Scroll to the undesired message thread and swipe to the left starting from the right edge of your device’s screen. The options to “Block User” and “Delete” will appear. Select “Delete” and it will be gone forever.

      %br

      %h3 How do I block offensive users?
      %p Sorry this is an issue you need solved. Once logged in, select the message icon in the top right corner, or open the sidebar menu by selecting the menu icon in the top left corner or swiping to the right starting from the left edge of your device’s screen. Once the sidebar menu is opened select “My Conversations”. Scroll to the undesired message thread and swipe to the left starting from the right edge of your device’s screen. The options to “Block User” and “Delete” will appear. Select “Block User” to be rid of that user for good.

      %br

      %h3 How do I unblock users that I blocked in the past?
      %p Simple fix. Once logged in, open the sidebar menu by selecting the menu icon in the top left corner or swiping to the right starting from the left edge of your device’s screen. Once the sidebar menu is opened select “Settings” then “Blocked Users”. A list of blocked users will appear. Scroll to the desired user and swipe to the left starting from the right edge of your device’s screen. The option to “Unblock User” will appear.

      %br

      %h3 What if I see no conversation pins on my map?
      %p If there are no conversation pins visible on your “Find Conversations” map it may be due to your selected interests. Try adding more interests to your saved “My Interests” and see if that solves the problem. If it does, it means there were no other users currently creating conversation pins that met your specific interests.
      %p Remember, your selected interests will filter your “Find Conversations” map accordingly.

      %br

      %h3 Should I create a conversation pin at my personal home address?
      %p This is completely at the user’s discretion. We are not liable for users that choose to create conversation pins in locations that increase their chances of harm. E.g., home, dark alleys, dark forests, sketchy places, etc.
      %p We recommend our users stick to creating conversation pins in well populated areas and remain discrete with their exact location. It would not be wise to enter “Starbucks, by the window, wearing a pink shirt” in the location details of “Create A Conversation.” It is suggested that users do not disclose their exact location until they are ready to meet up with a specific individual they have vetted through a message thread.
      %p Expand your network, safely.

      %br

      %h3 What is my influencer score?
      %p The influencer score reflects the number of other users that found you to be a pleasure to chat with. The higher the influencer score, the more relevant to topic, enjoyable, or resourceful the individual is.
      %p We encourage users to fairly rate each individual after meeting up and conversing. This will serve as a community vetting system and save other users from those who use Hobnob irresponsibly.

      %br

      %h3 Will my conversation pin delete on its own?
      %p Yes, it will self-destruct when the designated end time is reached. Users can also delete their own conversation pin (blue pin) by selecting it, then selecting “Delete Event.”

      %br 

      %h3 How do I delete my account?
      %p There is no account deletion option. Simply uninstall the app or stop using the registered email address to login.

    #footer
      .container
        .col-md-6.left-align
          %h5 All Rights Reserved, Hobnob
        .col-md-6.right-align
          %a{:href => "faq.html"}
            %h5 FAQ



    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"}
    %script{:src => "https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"}
    // %script{:src => "scripts.js"}
