index.html.haml
// to convert to html and css run the following:
// haml index.html.haml index.html
// sass --update common.css.sass:common.css

!!!
%html
  %head
    %title Hobnob - Find people and conversations of relevance
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %link{:href => "http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.css", :rel => "stylesheet"}/
    %link{:href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css", :rel => "stylesheet"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:400,700", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "common.css", :rel => "stylesheet"}/
  %body

    #jumbotron
      .container
        .col-md-6
          .information
            %h1 Hobnob
            %h2
              Generating serendipity
            .get_app
              %a{:href => "#"}
                %img{:alt => "Download on the App Store", :src => "assets/images/badge_app_store.png"}/
              %a{:href => "#"}
                %img{:alt => "Get it on Google Play", :src => "assets/images/badge_google_play.png"}/
          / .embed-responsive.embed-responsive-4by3
          /   %iframe.embed-responsive-item{:src => "//www.youtube.com/embed/httMVmmDTp4"}
        .col-md-6
          %img{:alt => "Hobnob App Examples", :src => "assets/images/hobnob-jumbo-mobile-pic.png"}/

    #how-it-works
      .container
        .col-md-4
          .info-step
            %img{:alt => "...", :src => "assets/images/hobnob-benefits-1.png"}/
            %h3 Pinpoint Relevant People
            %p Connect with others by identifying common ground based on your specific interests. At your discretion, use your map to find or create conversation pins.
        .col-md-4
          .info-step
            %img{:alt => "...", :src => "assets/images/hobnob-benefits-2.png"}/
            %h3 Goodbye Awkward Icebreaker
            %p Whether it be business or social, eliminate the bum rush or need for clever icebreakers. Once you pinpoint someone of relevance, send them a message requesting to meet face-to-face. 
        .col-md-4
          .info-step
            %img{:alt => "...", :src => "assets/images/hobnob-benefits-3.png"}/
            %h3 Peer-to-peer Vetting
            %p Time is precious and no one likes theirs wasted. Users have the option to rate one another after each connection, providing a system of community vetting reflected by one’s influencer score.

    #call-to-action
      .container
        .col-md-12
          %h3 One person can change your life.
          %a{:href => "#"}
            %img{:alt => "Download on the App Store", :src => "assets/images/badge_app_store.png"}/
          %a{:href => "#"}
            %img{:alt => "Get it on Google Play", :src => "assets/images/badge_google_play.png"}/

    #footer
      .container
        .col-md-6.left-align
          %h5 All Rights Reserved, Hobnob
        .col-md-6.right-align
          %a{:href => "faq.html"}
            %h5 FAQ



    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"}
    %script{:src => "https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"}
    // %script{:src => "scripts.js"}

index.html
<!-- / to convert to html and css run the following: -->
<!-- / haml index.html.haml index.html -->
<!-- / sass --update common.css.sass:common.css -->
<!DOCTYPE html>
<html>
  <head>
    <title>Hobnob - Find people and conversations of relevance</title>
    <meta charset='utf-8'>
    <meta content='IE=edge' http-equiv='X-UA-Compatible'>
    <meta content='width=device-width, initial-scale=1' name='viewport'>
    <link href='http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.css' rel='stylesheet'>
    <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' rel='stylesheet'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href='common.css' rel='stylesheet'>
  </head>
  <body>
    <div id='jumbotron'>
      <div class='container'>
        <div class='col-md-6'>
          <div class='information'>
            <h1>Hobnob</h1>
            <h2>
              Generating serendipity
            </h2>
            <div class='get_app'>
              <a href='#'>
                <img alt='Download on the App Store' src='assets/images/badge_app_store.png'>
              </a>
              <a href='#'>
                <img alt='Get it on Google Play' src='assets/images/badge_google_play.png'>
              </a>
            </div>
          </div>
          <!-- .embed-responsive.embed-responsive-4by3 -->
          <!-- %iframe.embed-responsive-item{:src => "//www.youtube.com/embed/httMVmmDTp4"} -->
        </div>
        <div class='col-md-6'>
          <img alt='Hobnob App Examples' src='assets/images/hobnob-jumbo-mobile-pic.png'>
        </div>
      </div>
    </div>
    <div id='how-it-works'>
      <div class='container'>
        <div class='col-md-4'>
          <div class='info-step'>
            <img alt='...' src='assets/images/hobnob-benefits-1.png'>
            <h3>Pinpoint Relevant People</h3>
            <p>Connect with others by identifying common ground based on your specific interests. At your discretion, use your map to find or create conversation pins.</p>
          </div>
        </div>
        <div class='col-md-4'>
          <div class='info-step'>
            <img alt='...' src='assets/images/hobnob-benefits-2.png'>
            <h3>Goodbye Awkward Icebreaker</h3>
            <p>Whether it be business or social, eliminate the bum rush or need for clever icebreakers. Once you pinpoint someone of relevance, send them a message requesting to meet face-to-face.</p>
          </div>
        </div>
        <div class='col-md-4'>
          <div class='info-step'>
            <img alt='...' src='assets/images/hobnob-benefits-3.png'>
            <h3>Peer-to-peer Vetting</h3>
            <p>Time is precious and no one likes theirs wasted. Users have the option to rate one another after each connection, providing a system of community vetting reflected by one’s influencer score.</p>
          </div>
        </div>
      </div>
    </div>
    <div id='call-to-action'>
      <div class='container'>
        <div class='col-md-12'>
          <h3>One person can change your life.</h3>
          <a href='#'>
            <img alt='Download on the App Store' src='assets/images/badge_app_store.png'>
          </a>
          <a href='#'>
            <img alt='Get it on Google Play' src='assets/images/badge_google_play.png'>
          </a>
        </div>
      </div>
    </div>
    <div id='footer'>
      <div class='container'>
        <div class='col-md-6 left-align'>
          <h5>All Rights Reserved, Hobnob</h5>
        </div>
        <div class='col-md-6 right-align'>
          <a href='faq.html'>
            <h5>FAQ</h5>
          </a>
        </div>
      </div>
    </div>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js'></script>
    <!-- / %script{:src => "scripts.js"} -->
  </body>
</html>
